@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
	box-sizing : border-box;
	font-family: "Quicksand", sans-serif;
}

body,
html {
	font-size  : 16px;
	height     : 100%;
	color      : #fff;
	line-height: 1.6;
	margin     : 0px;
	overflow-x : hidden;
	min-width  : 400px;
}

a,
a:active,
a:focus {
	color          : inherit;
	text-decoration: inherit;
}

select option {
	margin : auto;
	padding: 15px;
}

.btn {
	transition: 0.5s;
}

/* top navigator */
.m-navigator-bar {
	width           : 100%;
	height          : 55px;
	background-color: rgba(255, 255, 255, 0.5);
	position        : fixed;
	z-index         : 10;
	color           : black;
	font-weight     : 600;
}

.m-navigator-bar.scrolled {
	background-color: rgba(255, 255, 255, 1);
	box-shadow      : 0px 1px 6px 1px rgba(0, 0, 0, 0.35);
	animation       : top-nav-transition 1s;
}

@keyframes top-nav-transition {
	from {
		top: -50;
	}

	to {
		top: 0;
	}
}

.m-navigator-bar .navbar-margin-right {
	display: block;
	float  : right;
	width  : 5%;
	height : inherit;
}

.m-navigator-bar .navbar-margin-left {
	display: block;
	float  : left;
	width  : 5%;
	height : inherit;
}

.m-navigator-bar img {
	height: inherit;
	size  : auto;
}

.m-navigator-bar a {
	display        : flex;
	justify-content: center;
	align-items    : center;
	text-align     : center;
	height         : inherit;
	float          : right;
	padding-left   : 15px;
	padding-right  : 15px;
	padding-top    : 14px;
	padding-bottom : 11px;
	transition     : 0.4s ease;
}

.m-navigator-bar a:hover {
	background-color: rgba(255, 255, 255, 0.55);
	color           : black;
}

.m-navigator-bar a.selected {
	color: orange;
}

.m-navigator-bar a.selected:hover {
	color           : black;
	background-color: rgba(255, 255, 255, 0.55);
}

.m-navigator-bar.scrolled a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

/* header {
    animation: fadeInDown 1s;
} */

.breadcrumbs-page-wrap {
	background: #f6f6f6;
	position  : relative;
}

.breadcrumbs-page {
	background         : #27304b;
	background-image   : url(ImgSource/breadcrumb/breadcrumbs_bg.jpg);
	background-repeat  : no-repeat;
	padding            : 10rem 0;
	background-position: top center !important;
	max-width          : 1300px;
	margin             : 0 auto;
	z-index            : 2;
	position           : relative;
	border-style       : solid;
	border-width       : 5px;
	border-color       : rgb(255, 255, 255);
	box-shadow         : 0px 0px 43px 0px rgb(39 48 75 / 8%);
	width              : 100%;
}

.breadcrumbs-page h1 {
	color         : #fff;
	text-transform: capitalize;
	font-size     : 2.75rem;
	font-weight   : bold;
}

.breadcrumbs-page-wrap .breadcrumbs-page img.ptt-png {
	position : absolute;
	max-width: 256px;
	right    : -60px;
	bottom   : -100px;
	z-index  : 1;
	transform: scale(0.75);
}

#body-content {
	padding: 100px 0;
}

.container {
	width         : 100%;
	max-width     : 1300px;
	padding       : 0 5rem;
	margin        : 0 auto;
	display       : flex;
	flex-direction: column;
}

.product-count {
	background     : #27304b;
	padding        : 0.8rem 1.5rem;
	border-radius  : 10px;
	margin-bottom  : 3rem;
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
	align-items    : center;
}

.product-count strong {
	font-size: 1.125rem;
	color    : #f15e42;
}

.form-control {
	font-size         : 1rem;
	color             : #131313;
	background-color  : #fff;
	height            : auto;
	padding-top       : 1rem;
	padding-bottom    : 1rem;
	padding-left      : 1rem;
	padding-right     : 2rem;
	border-radius     : 5px;
	box-shadow        : none;
	border            : none;
	outline           : none;
	-webkit-appearance: none;
	background-image  : linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(1em + 10px),
		calc(100% - 15px) calc(1em + 10px);
	background-size  : 5px 5px, 5px 5px;
	background-repeat: no-repeat;
}

.row {
	display        : flex;
	flex-wrap      : wrap;
	align-items    : center;
	justify-content: space-between;
}

.product-list {
	display              : grid;
	gap                  : 2rem;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	margin-bottom        : 3rem;
}

.product-wrapper {
	text-align      : center;
	overflow        : hidden;
	height          : 100%;
	transition      : all 0.4s ease-out;
	background-color: #fff;
	padding         : 0 0 1.5rem 0;
	box-shadow      : 0 0 16px rgb(39 48 75 / 14%);
	border-radius   : 6px;
	position        : relative;
}

.product-image {
	position  : relative;
	background: #eaeaea;
}

.product-image img {
	width     : 100%;
	height    : auto;
	transition: all 0.4s ease 0s;
}

.product-image img:hover {
	filter: brightness(75%);
}

.product-discount-label {
	color         : #fff;
	background    : #98cb46;
	font-size     : 14px;
	font-weight   : 400;
	text-transform: uppercase;
	padding       : 2px 8px;
	border-radius : 0 0 5px 0;
	position      : absolute;
	top           : 0;
	left          : 0;
}

.product-content {
	padding : 12px 12px 0;
	position: relative;
}

.product-content .name {
	font-size     : 1rem;
	font-weight   : 600;
	text-transform: uppercase;
	margin        : 0 0 7px;
}

.product-content .name a {
	display      : block;
	white-space  : nowrap;
	text-overflow: ellipsis;
	overflow     : hidden;
	color        : #27304b;
	transition   : 0.3s ease 0s;
}

.product-content .name a:hover {
	color: #98cb46;
}

.product-content .price {
	color      : #f15e42;
	font-size  : 1.125rem;
	font-weight: 700;
	display    : block;
	transition : 0.4s ease-in-out;
	font-family: "Changa", sans-serif;
	line-height: 1;
}

.product-grid .add-to-cart {
	margin-top      : 1rem;
	font-weight     : bold;
	font-size       : 1rem;
	background-color: #98cb46;
	padding         : 0.5rem 1rem;
	cursor          : pointer;
	transition      : 0.4s ease;
	border          : 3px solid transparent;
}

.product-grid .add-to-cart i {
	padding: 0 5px;
}

.product-grid .add-to-cart:hover {
	color           : #98cb46;
	background-color: #eeffee;
	border          : 3px solid #98cb46;
	border-radius   : 5px;
}

.product-grid .price span {
	color          : #999;
	font-weight    : 500;
	text-decoration: line-through;
}

.theme-pagination {
	background   : #27304b;
	margin-bottom: 3rem;
	padding      : 1rem 0;
}

.pagination {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	text-align     : center;
	font-size      : 1.25rem;
}

.pagination a {
	font-weight    : 800;
	padding        : 1rem;
	text-decoration: none;
}

.m-pag.active,
.m-pag:hover {
	color     : #f15e42;
	transition: 400ms;
	cursor    : pointer;
}

.p-pag {
	border-top-right-radius   : 10px;
	border-bottom-right-radius: 10px;
	background-color          : #98cb46;
}

.n-pag {
	border-top-left-radius   : 10px;
	border-bottom-left-radius: 10px;
	background-color         : #98cb46;
}

.p-pag:hover,
.n-pag:hover {
	background-color: #f15e42;
	transition      : 400ms;
}

.p-pag.disabled,
.n-pag.disabled {
	opacity       : 0.5;
	pointer-events: none;
}

/* _______________search bar__________________ */
.search-container {
	display        : flex;
	width          : 100%;
	margin-bottom  : 2rem;
	justify-content: flex-end;
	position       : relative;
}

.search-container button {
	padding                   : 1rem;
	background                : #98cb46;
	color                     : white;
	font-size                 : 1.25rem;
	border                    : 1px solid transparent;
	border-top-right-radius   : 20px;
	border-bottom-right-radius: 20px;
	cursor                    : pointer;
	transition                : 0.4s ease;
}

.search-container button:hover {
	color           : #98cb46;
	background-color: #eeffee;
	border          : 1px solid #98cb46;
}

.search-container input[type="text"] {
	width                    : 20%;
	min-width                : fit-content;
	padding                  : 0.5rem 1rem;
	font-size                : 1.25rem;
	font-weight              : bold;
	outline                  : none;
	border                   : 1px solid #98cb46;
	border-top-left-radius   : 20px;
	border-bottom-left-radius: 20px;
	transition               : width 0.4s ease-in-out;
}

.search-container input[type="text"]:focus {
	width: 30%;
}

.autocomplete-items {
	position                  : absolute;
	border                    : 1px solid #98cb46;
	border-bottom-left-radius : 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius    : 20px;
	border-top-right-radius   : 20px;
	z-index                   : 99;
	top                       : 110%;
	right                     : 0;
}

.autocomplete-items div {
	display         : flex;
	flex-direction  : row;
	justify-content : flex-start;
	align-items     : center;
	padding         : 1rem;
	font-size       : 1.125rem;
	cursor          : pointer;
	background-color: #fff;
	color           : black;
	border-bottom   : 1px solid #ddd;
}

.autocomplete-items div:first-child {
	border-top-left-radius : 20px;
	border-top-right-radius: 20px;
}

.autocomplete-items div:last-child {
	border-bottom-left-radius : 20px;
	border-bottom-right-radius: 20px;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

.autocomplete-items div img {
	margin-right: 1rem;
}

.autocomplete-active {
	background-color: DodgerBlue !important;
	color           : #ffffff;
}

/* _______________footer__________________ */

.section-container {
	opacity  : 100%;
	width    : 100%;
	padding  : 60 240;
	font-size: 20px;
	display  : block;
}

.flex-container {
	display  : flex;
	flex-wrap: wrap;
	width    : 100%;
}

.section-container.section-odd {
	background-color: rgba(217, 236, 248, 0.308);
	color           : darkgrey;
}

.section-container.section-even {
	background-color: rgba(255, 255, 255, 0.5);
	color           : black;
}

.section-container .section-content {
	font-family  : "Quicksand", sans-serif;
	font-weight  : 100;
	text-align   : center;
	padding-left : 15%;
	padding-right: 15%;
	margin-bottom: 80px;
}

.section-container .section-content.left-align {
	text-align   : left;
	padding-left : 0;
	padding-right: 0;
}

.section-container .section-content h3 {
	font-family: "Quicksand", sans-serif;
	font-size  : 36px;
}

.footer {
	background-color: rgba(11, 10, 22, 0.8);
	font-size       : 14px;
}

.footer .flex-container>* {
	padding: 0px 20px;
}

.footer .footer-logo {
	flex      : 0 0 70%;
	height    : 100px;
	text-align: left;
}

.footer .footer-logo img {
	height: inherit;
}

.footer .footer-social {
	flex       : 0 0 30%;
	height     : 100px;
	display    : flex;
	align-items: center;
}

.footer-social div {
	height       : 35px;
	align-items  : center;
	border-radius: 20px;
	border-width : 2px;
	border-color : black;
	border-style : none;
}

.footer-social div a {
	margin-bottom: 5px;
}

.footer .footer-social div a img {
	width     : 30px;
	height    : 30px;
	transition: all 0.3s ease;
}

.footer .footer-social div a img:hover {
	width : 35px;
	height: 35px;
}

.footer .footer-social div a:hover {
	transform: none;
}

.footer .footer-about {
	flex               : 0 0 30%;
	background-image   : url(./ImgSource/utility/worldmap.png);
	background-position: bottom;
	background-repeat  : no-repeat;
	background-size    : contain;
}

.footer .footer-explore {
	flex: 0 0 20%;
}

.footer .footer-link {
	flex: 0 0 20%;
}

.footer .footer-workinghour {
	flex: 0 0 30%;
}

.footer .footer-license {
	padding-top: 50px;
	flex       : 0 0 100%;
	text-align : center;
}

.footer a {
	display   : inline-block;
	transition: transform 0.5s, color 0.5s;
}

.footer a:hover {
	transform: translate(10px, 0px);
	color    : khaki;
}

/* _______________responisve__________________ */
@media only screen and (max-width: 768px) {
	.container {
		padding: 0 3rem;
	}

	.breadcrumbs-page {
		padding: 8rem 0;
	}

	.product-count {
		flex-direction: column;
	}

	.product-count>* {
		width        : 100%;
		margin-bottom: 0.5rem;
	}

	.search-container button {
		font-size: 1.125rem;
	}

	.search-container input[type="text"] {
		width    : 30%;
		font-size: 1.125rem;
	}

	.search-container input[type="text"]:focus {
		width: 50%;
	}
}

@media only screen and (max-width: 425px) {
	.container {
		padding: 0 2rem;
	}
}

@media only screen and (max-width: 625px) {
	.search-container input[type="text"] {
		width: 100%;
	}

	.search-container input[type="text"]:focus {
		width: 100%;
	}
}

@media only screen and (max-width: 1600px) {
	.section-container {
		padding: 60 60;
	}
}

@media only screen and (max-width: 1200px) {
	.section-container {
		padding: 60 10;
	}

	.items-container>div {
		flex: 0 0 50%;
	}

	.section-container .custommer-rating,
	.section-container .custommer-feedback {
		flex        : 0 0 100%;
		padding-left: 60;
	}
}

@media only screen and (max-width: 755px) {
	.section-container {
		padding: 60 10;
	}

	.items-container>div {
		flex: 0 0 100%;
	}

	.custommer-feedback .test-feedback-wrapper div {
		flex-direction: column;
	}

	.section-container .custommer-rating,
	.section-container .custommer-feedback {
		padding-left: 10;
	}

	.help-container {
		flex         : 0 0 100%;
		margin-bottom: 30px;
	}

	.footer .footer-logo {
		flex: 0 0 100%;
	}

	.footer .footer-social {
		flex: 0 0 100%;
	}

	.footer .footer-about {
		flex: 0 0 50%;
	}

	.footer .footer-explore {
		flex: 0 0 50%;
	}

	.footer .footer-link {
		flex: 0 0 50%;
	}

	.footer .footer-workinghour {
		flex: 0 0 50%;
	}
}