@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    font-size  : 16px;
    font-family: 'Quicksand', sans-serif;
    height     : 100%;
    color      : #fff;
    line-height: 1.6;
    margin     : 0px;
    overflow-x : hidden;
}

a,
a:active,
a:focus {
    color           : #797373;
    text-decoration : none;
    background-color: transparent;
}

select option {
    margin : auto;
    padding: 15px;
}

.btn {
    transition: 0.5s;
}

.m-navigator-bar {
    width           : 100%;
    height          : 55px;
    background-color: rgba(255, 255, 255, 0.2);
    position        : fixed;
    z-index         : 20;
    color           : black;
    font-family     : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight     : bolder;
}

.m-navigator-bar.scrolled {
    background-color: rgba(255, 255, 255, 1);
    box-shadow      : 0px 1px 6px 1px rgba(0, 0, 0, 0.35);
    animation       : top-nav-transition 1s;
}

@keyframes top-nav-transition {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}

.m-navigator-bar .navbar-margin-left {
    display: block;
    float  : right;
    width  : 5%;
    height : inherit;
}

.m-navigator-bar a {
    display       : block;
    text-align    : center;
    height        : inherit;
    float         : right;
    padding-left  : 15px;
    padding-right : 15px;
    padding-top   : 14px;
    padding-bottom: 11px;
    font-weight   : 600;
}

.m-navigator-bar a:hover {
    background-color: rgba(255, 255, 255, 0.55);
    color           : black;
}

.m-navigator-bar a.selected {
    color: orange;
}

.m-navigator-bar a.selected:hover {
    color           : black;
    background-color: rgba(255, 255, 255, 0.55);
    ;
}

.m-navigator-bar.scrolled a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

/* header {
    animation: fadeInDown 1s;
} */

.breadcrumbs-page-wrap {
    background: #f6f6f6;
    position  : relative;
}

.breadcrumbs-page {
    background         : #27304b;
    background-image   : url(ImgSource/breadcrumbs_bg.jpg);
    background-repeat  : no-repeat;
    padding            : 10rem 0;
    background-position: top center !important;
    max-width          : 1300px;
    margin             : 0 auto;
    z-index            : 2;
    position           : relative;
    border-style       : solid;
    border-width       : 5px;
    border-color       : rgb(255, 255, 255);
    box-shadow         : 0px 0px 43px 0px rgb(39 48 75 / 8%);
    width              : 100%;
}

.breadcrumbs-page h1 {
    color         : #fff;
    text-transform: capitalize;
    font-size     : 2.75rem;
    font-weight   : bold;
}

.breadcrumbs-page-wrap .breadcrumbs-page img.ptt-png {
    position : absolute;
    max-width: 256px;
    right    : -60px;
    bottom   : -100px;
    z-index  : 1;
    transform: scale(0.75);
}

#body-content {
    padding: 100px 0;
}

.container {
    width    : 100%;
    max-width: 1300px;
    padding  : 0 5rem;
    margin   : 0 auto;
}

.table-wrapper {
    display   : block;
    width     : 100%;
    overflow-x: auto;
}

.cart-table {
    width          : 100%;
    margin-bottom  : 1rem;
    color          : #fff;
    border-collapse: collapse;
}

.cart-table td,
.cart-table th {
    padding       : 0.75rem;
    vertical-align: top;
    border-top    : 1px solid #dee2e6;
}

.cart-headings {
    border-radius: 10px;
    overflow     : hidden;
    margin-bottom: 1rem;
}

.cart-headings th {
    font-size       : 1.125rem;
    background-color: #27304b;
    color           : #fff;
    border          : none;
    padding-top     : 1.2rem;
    padding-bottom  : 1.2rem;
    text-align      : left;
}

.cart-headings th span {
    position: relative;
}

.cart-headings th span::before {
    position        : absolute;
    content         : "";
    width           : 10px;
    height          : 1px;
    background-color: #fff;
    left            : -20px;
    top             : 50%;
    transform       : translateX(-50%);
}

.cart-headings th:first-child {
    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;
}

.cart-headings th:last-child {
    border-top-right-radius   : 10px;
    border-bottom-right-radius: 10px;
}

.cart-body tr td,
.cart-body tr th {
    vertical-align: middle;
    padding-top   : 1.5rem;
    padding-bottom: 1.5rem;
    border-top    : none;
    border-bottom : 1px solid #dee2e6;
}

.link-orange {
    color      : #f15e42;
    font-weight: 700;
    transition : color 0.3s ease-in-out;
}

.link-orange:hover {
    color: #797373;
}

.item-remove {
    font-size: 1.25rem;
}

.item-product {
    display    : flex;
    align-items: center;
}

.item-product span {
    color      : #27304b;
    font-weight: 700;
    font-size  : 1.125rem;
}

.item-product .img-wrap {
    box-shadow   : 0px 0px 29px 0px rgb(39 48 75 / 15%);
    background   : #FFF;
    width        : 90px;
    margin-right : 20px;
    border-radius: 10px;
    padding      : 10px;
}

.item-product .img-wrap img {
    max-width: 100%;
    height   : auto;
}

.item-price {
    color      : #27304b !important;
    font-weight: bolder;
}

input[type='number'] {
    width        : 80px;
    font-size    : 1.25rem;
    padding      : 0.5rem;
    border-radius: 5px;
    border       : 2px solid #ebebeb;
    outline      : none;
    color        : #f15e42;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
}

.item-total {
    color      : #f15e42 !important;
    font-weight: bolder;
}

.cart-update-wrapper {
    margin-top     : 1.5rem !important;
    display        : flex;
    justify-content: flex-end;
    flex-wrap      : wrap;
}

#cart-update-btn {
    color          : #FFF;
    background     : #98cb46;
    font-weight    : bold;
    text-transform : uppercase;
    padding        : 0.5rem 1.9rem;
    font-size      : 1rem;
    justify-content: center;
    display        : inline-flex;
    outline        : none;
    border         : none;
    cursor         : pointer;
    overflow       : hidden;
    z-index        : 2;
    align-items    : center;
    position       : relative;
    box-shadow     : 0px 4px 13px 0px rgb(152 203 70 / 50%);
    border-radius  : 3px;
    border         : 3px solid transparent;
    transition     : all 0.4s ease;
}

#cart-update-btn:hover {
    color           : #98cb46;
    background-color: #eeffee;
    border          : 3px solid #98cb46;
    border-radius   : 5px;
}

.cart-total-wrapper {
    margin-top     : 3rem !important;
    display        : flex;
    justify-content: flex-end;
    flex-wrap      : wrap;
}

.cart-total {
    border-radius   : 6px;
    background-color: #FFF;
    box-shadow      : 0px 0px 16px 0px rgb(39 48 75 / 14%);
    min-width       : 300px;
    margin-bottom   : 2rem;
    padding         : 2rem 1.5rem;
}

.order-head {
    font-size  : 1.3rem;
    font-weight: 600;
    color      : #f15e42;
}

.cart-total .order-list ul {
    padding-left : 0;
    list-style   : none;
    margin-top   : 0;
    margin-bottom: 1rem;
}

.cart-total .order-list ul li {
    padding        : 0.7rem 1.5rem;
    display        : flex;
    justify-content: space-between;
    font-size      : 1rem;
    font-weight    : 600;
    margin         : 0 0 0.5rem 0;
    padding        : 0.7rem 0;
}

.cart-total .order-list ul li:not(:last-child) {
    border-bottom: 1px solid #e9eaed;
}

#checkout-btn {
    color          : #FFF;
    background     : #f15e42;
    font-weight    : bold;
    text-transform : uppercase;
    padding        : 0.5rem 1.9rem;
    font-size      : 1rem;
    justify-content: center;
    display        : inline-flex;
    outline        : none;
    border         : none;
    cursor         : pointer;
    overflow       : hidden;
    z-index        : 2;
    align-items    : center;
    position       : relative;
    box-shadow     : 0px 4px 13px 0px rgb(241 94 66 / 50%);
    border         : 3px solid transparent;
    border-radius  : 3px;
    transition     : all 0.4s ease;
}

#checkout-btn:hover {
    color           : #f15e42;
    background-color: #fff3ee;
    border          : 3px solid #f15e42;
    border-radius   : 3px;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 3rem;
    }

    .breadcrumbs-page {
        padding: 8rem 0;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        padding: 0 2rem;
    }
}