@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
}
body, html{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    color: #fff;
    line-height: 1.6;
    margin: 0px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
input[type=text]{
    font-size: 16px;
    border: none;
    outline: none;
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    float:left;
}
::placeholder{
    font-size:14px;
    color: #ddd;
    size: 50px;
}
.btn{
    transition: 0.5s;
}

/* top navigator */
.m-navigator-bar{
    width: 100%;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    z-index: 20;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.m-navigator-bar.scrolled{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.35);
    animation: top-nav-transition 1s;
}
@keyframes top-nav-transition {
    from {top:-50;}
    to {top: 0;}
}
/* .m-navigator-bar:after{
    content: "";
    clear: left;
    height: 100px;
} */
.m-navigator-bar .navbar-margin-left{
    display: block;
    float: right;
    width: 5%;
    height: inherit;
}
.m-navigator-bar a{
    display: block;
    text-align: center;
    height: inherit;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 11px;
    font-weight: 600;
}

.m-navigator-bar a:hover{
    background-color: rgba(255, 255, 255, 0.55);
    color: black;
}
.m-navigator-bar a.selected{
    color: orange;
}
.m-navigator-bar a.selected:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.55);;
}
.m-navigator-bar.scrolled a:hover{
    background-color: rgba(0, 0, 0, 0.15);
}


/* layout */
.main-wallpaper{
    width: 100%;
    /* min-width: 400px; */
    height: 100%;
    /* max-height: 300px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("wallpaper2.jpg");
}
.shop-overview{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding-left: 70px;
    align-items:flex-start;
}
.shop-overview span{
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    opacity: 70%;
    font: white;
    padding: 40px;
}
.main-page{
    width: 100%;
}

/* **********************general content************************ */

.section-container{
    opacity: 100%;
    width: 100%;
    padding: 60 240;
    font-size: 20px;
    display: block;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.section-container.section-odd{
    background-color: rgba(255, 255, 255, 0.5);
    color: darkgrey;
}
.section-container.section-even{
    background-color: #eee;
    color: black;
}
.section-container .section-content{
    font-family: 'Quicksand', sans-serif;
    font-weight:100;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 80px;
}
.section-container .section-content.left-align{
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.section-container .section-content h3
{
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
}

/* ***************************services styling************************** */

/* .items-container{
} */
.items-container > div{
    padding: 20px;
    flex: 25%;
}
.items-container .item-wrapper{
    background-color: white;
    transition: transform .3s, box-shadow .3s;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.items-container .item-wrapper:hover{
    -ms-transform: scale(1.07); 
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 8px 20px 10px rgba(0, 0, 0, 0.1);
}
.items-container a img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: auto;
}
.item-content{
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.item-content span:first-child{
    font-weight:700;
    color: orange;
    font-size: larger;
}
.item-content span:nth-child(3){
    font-weight:300;
    color: coral;
}
.item-content a{
    font-weight:900;
    color: orangered;
}
/* ******************************feedback****************************** */
.section-container .custommer-rating{
    flex: 0 0 50%;
}
.section-container .custommer-feedback{
    flex: 0 0 50%;
}
.custommer-rating .flex-container > div{
    flex: 0 0 33%;
    color: green;
}

/* ******************************gallery**************************** */
.gallery-container table{
    border-collapse: separate;
    border-spacing: 4px;
    width: 100%;
}
.gallery-container td{
    /* background-color: peachpuff; */
    padding: 0px;
    width: 16.6666%;
    height: auto;
}
.gallery-container td a{
    width: 100%;
    display: block;
    position: relative;
}
.gallery-container td a img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.gallery-container td a .gallery-item-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: opacity .6s;
    opacity: 0%;
    z-index: 10;
}
.gallery-container td a .gallery-item-hover:hover{
    background-color: black;
    opacity: 40%;
}


/* tablet */
@media only screen and (max-width: 1600px) { 
    .section-container{
        padding: 60 60
    }
}


@media only screen and (max-width: 1200px) {
    .section-container{
        padding: 60 120
    }
    .items-container > div{
        flex: 0 0 50%;
    }

}

/* phone */
@media only screen and (max-width: 700px) {
    .section-container{
        padding: 60 10
    }
    .items-container > div{
        flex: 0 0 100%;
    }

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
    width: 80%;
    max-width: 700px;
}
.modal-content{  
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
from {transform: scale(0.1)} 
to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

