@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap');

* {
	box-sizing: border-box;
}

body,
html {
	font-size  : 16px;
	font-family: 'Quicksand', sans-serif;
	height     : 100%;
	color      : #fff;
	line-height: 1.6;
	margin     : 0px;
	overflow-x : hidden;
}

a,
a:active,
a:focus {
	color          : inherit;
	text-decoration: inherit;
}

.btn {
	transition: 0.5s;
}

.m-navigator-bar {
	width           : 100%;
	height          : 55px;
	background-color: rgba(255, 255, 255, 0.2);
	position        : fixed;
	z-index         : 20;
	color           : black;
	font-family     : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight     : bolder;
}

.m-navigator-bar.scrolled {
	background-color: rgba(255, 255, 255, 1);
	box-shadow      : 0px 1px 6px 1px rgba(0, 0, 0, 0.35);
	animation       : top-nav-transition 1s;
}

@keyframes top-nav-transition {
	from {
		top: -50px;
	}

	to {
		top: 0;
	}
}

.m-navigator-bar .navbar-margin-left {
	display: block;
	float  : right;
	width  : 5%;
	height : inherit;
}

.m-navigator-bar a {
	display       : block;
	text-align    : center;
	height        : inherit;
	float         : right;
	padding-left  : 15px;
	padding-right : 15px;
	padding-top   : 14px;
	padding-bottom: 11px;
	font-weight   : 600;
}

.m-navigator-bar a:hover {
	background-color: rgba(255, 255, 255, 0.55);
	color           : black;
}

.m-navigator-bar a.selected {
	color: orange;
}

.m-navigator-bar a.selected:hover {
	color           : black;
	background-color: rgba(255, 255, 255, 0.55);
	;
}

.m-navigator-bar.scrolled a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

/* header {
    animation: fadeInDown 1s;
} */

.breadcrumbs-page-wrap {
	background: #f6f6f6;
	position  : relative;
}

.breadcrumbs-page {
	background         : #27304b;
	background-image   : url(ImgSource/breadcrumbs_bg.jpg);
	background-repeat  : no-repeat;
	padding            : 10rem 0;
	background-position: top center !important;
	max-width          : 1300px;
	margin             : 0 auto;
	z-index            : 2;
	position           : relative;
	border-style       : solid;
	border-width       : 5px;
	border-color       : rgb(255, 255, 255);
	box-shadow         : 0px 0px 43px 0px rgb(39 48 75 / 8%);
	width              : 100%;
}

.breadcrumbs-page h1 {
	color         : #fff;
	text-transform: capitalize;
	font-size     : 2.75rem;
	font-weight   : bold;
}

.breadcrumbs-page-wrap .breadcrumbs-page img.ptt-png {
	position : absolute;
	max-width: 256px;
	right    : -60px;
	bottom   : -100px;
	z-index  : 1;
	transform: scale(0.75);
}

#body-content {
	padding: 100px 0;
}

.container {
	width    : 100%;
	max-width: 1300px;
	padding  : 0 5rem;
	margin   : 0 auto;
}

.product-container {
	display     : flex;
	flex-wrap   : wrap;
	margin-right: -15px;
	margin-left : -15px;
}

.product-gallery {
	width           : 50%;
	height          : fit-content;
	border-radius   : 10px;
	background-color: rgb(244, 244, 246);
	padding         : 1rem;
}

.slides {
	position     : relative;
	margin-bottom: 1rem;
}

.slide {
	display: none
}

img {
	vertical-align: middle;
}

.prev,
.next {
	cursor          : pointer;
	position        : absolute;
	top             : 50%;
	width           : auto;
	padding         : 0.5rem 1rem;
	margin-top      : -1.125rem;
	color           : white;
	font-weight     : bold;
	font-size       : 1.125rem;
	transition      : 0.4s ease;
	border-radius   : 5px;
	user-select     : none;
	background-color: rgba(0, 0, 0, 0.3);
}

.next {
	right        : 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.dot {
	cursor          : pointer;
	height          : 0.8rem;
	width           : 0.8rem;
	margin          : 0 3px;
	background-color: #bbb;
	border-radius   : 50%;
	display         : inline-block;
	transition      : background-color 0.5s ease;
}

.dot.active {
	background-color: #98cb46;
}

.dot:hover {
	background-color: #717171;
}

.fade {
	animation-name    : fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4
	}

	to {
		opacity: 1
	}
}

.product-description {
	display        : flex;
	flex-direction : column;
	justify-content: space-between;
	padding-left   : 3rem;
	width          : 50%;
}

.product-description .title {
	color        : #27304b;
	font-size    : 3rem;
	line-height  : 1;
	margin-top   : 0;
	margin-bottom: 0.5rem;
	font-family  : 'Changa', sans-serif;
}

.product-description .discount {
	width           : fit-content;
	font-size       : 1rem;
	color           : white;
	background-color: #f15e42;
	padding         : 5px;
	border-radius   : 10px;
}

.product-description .price {
	color      : #98cb46;
	font-size  : 2rem;
	margin     : 1rem 0;
	font-family: 'Changa', sans-serif;
	line-height: 1;
}

.product-description .price span {
	color          : #999;
	text-decoration: line-through;
}

.product-description .description {
	color: #707070;
}

.product-highlight {
	margin       : 1.5rem 0;
	padding      : 1.5rem 0;
	border-top   : 1px dashed #b2b2b2;
	border-bottom: 1px dashed #b2b2b2;
}

.product-highlight h5 {
	color        : #27304b;
	font-family  : 'Changa', sans-serif;
	font-size    : 1.25rem;
	margin-top   : 0;
	margin-bottom: 0.5rem;
}

.product-highlight p {
	color: #707070;
}

.custom-choose {
	margin-bottom: 1rem;
	color        : #707070;
}

input[type='radio'] {
	display: none;
}

.custom-choose input[type='radio']:checked+label,
.custom-choose input[type='checkbox']:checked+label {
	position  : relative;
	border    : solid 2px #313a53;
	background: #f5f5f5;
	color     : #313a53;
	transition: .4s;
}

.custom-choose input[type='radio']+label,
.custom-choose input[type='radio']:not(checked)+label {
	padding      : 0.2rem 1rem;
	cursor       : pointer;
	border       : 2px solid #ebebeb;
	border-radius: 4px;
	text-align   : center;
	font-size    : 1rem;
	margin-right : 1rem;
	transition   : all 0.4s ease 0s;
}

.link-orange {
	color      : #f15e42;
	font-weight: bold;
}

.product-quantity {
	display        : flex;
	justify-content: space-between;
	color          : #313a53;
	font-weight    : bold;
}

.product-quantity input {
	margin-left: 0.5rem;
}

input[type='number'] {
	width        : 80px;
	font-size    : 1.25rem;
	padding      : 0.5rem;
	border-radius: 5px;
	border       : 2px solid #ebebeb;
	outline      : none;
	color        : #f15e42;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

.add-to-cart {
	color         : #fff;
	background    : #98cb46;
	font-weight   : bold;
	text-transform: uppercase;
	padding       : 0.5rem 1rem;
	font-size     : 1rem;
	border        : 3px solid transparent;
	cursor        : pointer;
	align-items   : center;
	box-shadow    : 0px 4px 13px 0px rgb(152 203 70 / 50%);
	border-radius : 3px;
	transition    : 0.4s ease;
}

.add-to-cart i {
	padding: 0 5px;
}

.add-to-cart:hover {
	color           : #98cb46;
	background-color: #eeffee;
	border          : 3px solid #98cb46;
	border-radius   : 5px;
}

@media only screen and (max-width: 768px) {
	.container {
		padding: 0 3rem;
	}

	.breadcrumbs-page {
		padding: 8rem 0;
	}

	.product-container {
		flex-direction: column-reverse;
	}

	.product-description {
		width        : 100%;
		margin-bottom: 2rem;
		padding      : 0
	}

	.product-gallery {
		width : 100%;
		margin: auto;
	}
}

@media only screen and (max-width: 425px) {
	.container {
		padding: 0 2rem;
	}

	.product-gallery {
		width: 100%;
	}

	.product-quantity {
		flex-direction: column;
	}

	.product-quantity>* {
		margin-bottom: 1rem;
	}
}

/* -------------------------------------------------------- */

.m-navigator-bar {
	width           : 100%;
	height          : 55px;
	background-color: rgba(255, 255, 255, 0.2);
	position        : fixed;
	z-index         : 10;
	color           : black;
	font-family     : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight     : 600;
}

.m-navigator-bar.scrolled {
	background-color: rgba(255, 255, 255, 1);
	box-shadow      : 0px 1px 6px 1px rgba(0, 0, 0, 0.35);
	animation       : top-nav-transition 1s;
}

@keyframes top-nav-transition {
	from {
		top: -50;
	}

	to {
		top: 0;
	}
}

/* .m-navigator-bar:after{
    content: "";
    clear: left;
    height: 100px;
} */
.m-navigator-bar .navbar-margin-right {
	display: block;
	float  : right;
	width  : 5%;
	height : inherit;
}

.m-navigator-bar .navbar-margin-left {
	display: block;
	float  : left;
	width  : 5%;
	height : inherit;
}

.m-navigator-bar img {
	height: inherit;
	size  : auto;
}

.m-navigator-bar a {
	display       : block;
	text-align    : center;
	height        : inherit;
	float         : right;
	padding-left  : 15px;
	padding-right : 15px;
	padding-top   : 14px;
	padding-bottom: 11px;
}

.m-navigator-bar a:hover {
	background-color: rgba(255, 255, 255, 0.55);
	color           : black;
}

.m-navigator-bar a.selected {
	color: orange;
}

.m-navigator-bar a.selected:hover {
	color           : black;
	background-color: rgba(255, 255, 255, 0.55);
	;
}

.m-navigator-bar.scrolled a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.section-container {
	opacity  : 100%;
	width    : 100%;
	padding  : 60 240;
	font-size: 20px;
	display  : block;
}

.flex-container {
	display  : flex;
	flex-wrap: wrap;
	width    : 100%;
}

.section-container.section-odd {
	background-color: rgba(217, 236, 248, 0.308);
	color           : darkgrey;
}

.section-container.section-even {
	background-color: rgba(255, 255, 255, 0.5);
	color           : black;
}

.section-container .section-content {
	font-family  : 'Quicksand', sans-serif;
	font-weight  : 100;
	text-align   : center;
	padding-left : 15%;
	padding-right: 15%;
	margin-bottom: 80px;
}

.section-container .section-content.left-align {
	text-align   : left;
	padding-left : 0;
	padding-right: 0;
}

.section-container .section-content h3 {
	font-family: 'Quicksand', sans-serif;
	font-size  : 36px;
}



.footer {
	background-color: rgba(11, 10, 22, 0.8);
	font-size       : 14px;
}

.footer .flex-container>* {
	padding: 0px 20px;
}

.footer .footer-logo {
	flex      : 0 0 60%;
	height    : 100px;
	text-align: left;
}

.footer .footer-logo img {
	height: inherit;
}

.footer .footer-social {
	flex       : 0 0 40%;
	height     : 100px;
	display    : flex;
	align-items: center;
}

.footer-social div {
	height       : 35px;
	align-items  : center;
	border-radius: 20px;
	border-width : 2px;
	border-color : black;
	border-style : dotted;
}

.footer .footer-social div a img {
	width : 20px;
	height: 20px;
}

.footer .footer-social div a:hover {
	transform: none;
}

.footer .footer-about {
	flex               : 0 0 30%;
	background-image   : url(./ImgSource/utility/worldmap.png);
	background-position: bottom;
	background-repeat  : no-repeat;
	background-size    : contain;
}

.footer .footer-explore {
	flex: 0 0 20%;
}

.footer .footer-link {
	flex: 0 0 20%;
}

.footer .footer-workinghour {
	flex: 0 0 30%;
}

.footer .footer-license {
	padding-top: 50px;
	flex       : 0 0 100%;
	text-align : center;
}

.footer a {
	display   : inline-block;
	transition: transform .5s, color .5s;
}

.footer a:hover {
	transform: translate(10px, 0px);
	color    : khaki
}


@media only screen and (max-width: 1600px) {
	.section-container {
		padding: 60 60
	}
}


@media only screen and (max-width: 1200px) {
	.section-container {
		padding: 60 10
	}

	.items-container>div {
		flex: 0 0 50%;
	}

	.section-container .custommer-rating,
	.section-container .custommer-feedback {
		flex        : 0 0 100%;
		padding-left: 60;
	}
}

@media only screen and (max-width: 755px) {
	.section-container {
		padding: 60 10
	}

	.items-container>div {
		flex: 0 0 100%;
	}

	.custommer-feedback .test-feedback-wrapper div {
		flex-direction: column;
	}

	.section-container .custommer-rating,
	.section-container .custommer-feedback {
		padding-left: 10;
	}

	.help-container {
		flex         : 0 0 100%;
		margin-bottom: 30px;
	}

	.footer .footer-logo {
		flex: 0 0 100%;
	}

	.footer .footer-social {
		flex: 0 0 100%;
	}

	.footer .footer-about {
		flex: 0 0 50%;
	}

	.footer .footer-explore {
		flex: 0 0 50%;
	}

	.footer .footer-link {
		flex: 0 0 50%;
	}

	.footer .footer-workinghour {
		flex: 0 0 50%;
	}

}