<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <style>

        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            text-align: center;
            float: left;
            width: 180px;
        }

        .desColumn {
            text-align: center;
            float: left;
            width: 160px;
        }

        .actionColumn {
            text-align: center;
            float: right;
            width: 12%;
        }

        .row {
            /*border-style: solid;*/
            /*border-width: thin;*/
            /*border-color: black;*/
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .ta {
            width: 179px;
            height: 40px
        }

        .taDes {
            width: 159px;
            height: 40px;
        }
    </style>
</head>
<body>
<a href="/admin">Return to Home</a>
<div class="row">
    <div class="column">
        ID
    </div>
    <div class="column">
        Name
    </div>
    <div class="column">
        Phoneno
    </div>
    <div class="column">
        Email
    </div>
    <div class="column">
        Address
    </div>
    <div class="column">
        Total Cash Purchased
    </div>
</div>
<form id="searchForm">
    <div class="row">
        <div class="column">
            <input class="ta" type="text" id="searchId" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchName" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchPhoneno" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchEmail" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchAddress" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchTotalPurchase" value="">
        </div>
        <div class="actionColumn">
            <button id="searchAllButton" type="button" value="Search" onclick="getAllCustomerRequest()">Search All</button>
            <button id="searchButton" type="button" value="Search" onclick="searchCustomer()">Search</button>
            <button class="createButton" id="createButton" type="button" value="Create" onclick="createCustomer()">Create</button>
            <input type="reset">
        </div>
    </div>
</form>
<div>Your customers:</div>
<!--dung jquery ajax how to submit form without redirect-->
<!--https://stackoverflow.com/questions/25983603/how-to-submit-an-html-form-without-redirection-->
<div class="row" id="customers">

</div>
<script>

    function getXMLHttpRequest() {
        var req, err;
        try {
            req = new XMLHttpRequest();
        } catch (err) {
            try {
                req = new ActiveXObject("MSXML2.XMLHttp.6.0");
            } catch (err) {
                try {
                    req = new ActiveXObject("MSXML2.XMLHttp.3.0");
                } catch (err) {
                    req = false;
                }
            }
        }
        return req;
    }

    var ajaxRequest = getXMLHttpRequest();

    function getAllCustomerRequest() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getCustomerResponse;
            ajaxRequest.open("GET", "http://localhost:3000/admin/customers/all");
            ajaxRequest.send(null);
        }
    }

    function searchCustomer() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getCustomerResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/customers/get", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            let id = document.getElementById("searchId").value;
            let name = document.getElementById("searchName").value;
            let phoneno = document.getElementById("searchPhoneno").value;
            let email = document.getElementById("searchEmail").value;
            let address = document.getElementById("searchAddress").value;
            datas += '&id=' + id + '&name=' + name + '&phoneno=' + phoneno + '&email=' + email + '&address=' + address;
            ajaxRequest.send(datas);
        }
    }

    function createCustomer() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getCustomerCreateResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/customers/create", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            let datas = "";
            let id = document.getElementById("searchId").value;
            let name = document.getElementById("searchName").value;
            let phoneno = document.getElementById("searchPhoneno").value;
            let email = document.getElementById("searchEmail").value;
            let address = document.getElementById("searchAddress").value;
            datas += 'id=' + id + '&name=' + name + '&phoneno=' + phoneno + '&email=' + email + '&address=' + address;
            ajaxRequest.send(datas);
            // ajaxRequest.send('&id=' + id);
        }
    }

    function updateCustomer(customer) {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getCustomerUpdateResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/customers/update", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            datas += '&id=' + customer.id + '&name=' + customer.name + '&phoneno=' + customer.phoneno + '&email=' + customer.email + '&address=' + customer.address;
            ajaxRequest.send(datas);
        }
    }

    function deleteCustomer(customer) {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getCustomerDeleteResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/customers/delete", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            datas += '&id=' + customer.id;
            ajaxRequest.send(datas);
        }
    }

    function updateButtonPress(button) {
        var id = button.id.replace("updateButton", "");
        var buttonName = button.class;
        var buttonId = button.id;
        // console.log("onClick: button name: ", buttonName, "||id: ", id, "||button id: ", buttonId);
        if (document.getElementById(buttonId).innerHTML === "Update") {
            document.getElementById(id).getElementsByClassName("ta")[1].removeAttribute("readonly");
            document.getElementById(id).getElementsByClassName("ta")[3].removeAttribute("readonly");
            document.getElementById(id).getElementsByClassName("ta")[4].removeAttribute("readonly");
            document.getElementById(buttonId).innerHTML = "Confirm";
        } else {
            var customer = {};
            // console.log(document.getElementById(id).getElementsByClassName("ta")[9].value);
            customer.id = document.getElementById(id).getElementsByClassName("ta")[0].value;
            customer.name = document.getElementById(id).getElementsByClassName("ta")[1].value;
            customer.phoneno = document.getElementById(id).getElementsByClassName("ta")[2].value;
            customer.email = document.getElementById(id).getElementsByClassName("ta")[3].value;
            customer.address = document.getElementById(id).getElementsByClassName("ta")[4].value;
            document.getElementById(id).getElementsByClassName("ta")[1].readOnly = true;
            document.getElementById(id).getElementsByClassName("ta")[3].readOnly = true;
            document.getElementById(id).getElementsByClassName("ta")[4].readOnly = true;
            document.getElementById(buttonId).innerHTML = "Update";
            updateCustomer(customer);
        }
    }

    function deleteButtonPress(button) {
        var id = button.id.replace("deleteButton", "");
        var buttonName = button.class;
        var buttonId = button.id;
        // console.log("onClick: button name: ", buttonName, "||id: ", id, "||button id: ", buttonId);
        var customer = {};
        customer.id = document.getElementById(id).getElementsByClassName("ta")[0].value;
        deleteCustomer(customer);
    }

    function getCustomerResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                var jsonRes = JSON.parse(ajaxRequest.responseText);
                var tmpHtml = "";
                for (var i = 0; i < jsonRes.length; i++) {
                    tmpHtml += '<div class="row" id="' + i + '">';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexId' + i + '" readonly="readonly">' + jsonRes[i].id + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexName' + i + '" readonly="readonly">' + jsonRes[i].name + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexPhoneno' + i + '" readonly="readonly">' + jsonRes[i].phoneno + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexEmail' + i + '" readonly="readonly">' + jsonRes[i].email + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexAddress' + i + '" readonly="readonly">' + jsonRes[i].address + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexTotalPurchase' + i + '" readonly="readonly">' + jsonRes[i].totalPurchase + '</textarea></div>';
                    tmpHtml += '<div class="actionColumn" >\n' +
                        '        <button type="button" class="updateButton" id="updateButton' + i + '" value="Update" onclick="updateButtonPress(this)">Update</button>' +
                        '        <button type="button" class="deleteButton" id="deleteButton' + i + '" value="Delete" onclick="deleteButtonPress(this)">Delete</button>' +
                        '    </div>';
                    tmpHtml += '</div>';
                }
                // console.log(tmpHtml);
                document.getElementById("customers").innerHTML = tmpHtml;
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }

    function getCustomerCreateResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Create success");
                searchCustomer();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }
    function getCustomerDeleteResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Delete success");
                searchCustomer();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }

    function getCustomerUpdateResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Update success");
                searchCustomer();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
    }

    getAllCustomerRequest();
</script>
</body>
</html>