<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/admin/logout"><h2>Logout</h2></a><br><br>
<div id="accountDiv"></div>
<script>
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return null;
    }
    if(getCookie('role') === 'ADMIN') {
        var tmpHtml = '<a href="/admin/accounts">Acceses account database</a><br><br>';
        // tmpHtml += '<a href="/admin/customers">Access customer database</a><br><br>';
        tmpHtml += '<a href="/admin/pets">Access pet database</a><br><br>';
        tmpHtml += '<a href="/admin/items">Access item database</a><br><br>';
        document.getElementById("accountDiv").innerHTML = tmpHtml;
    }
</script>
<a href="/admin/customers">Access customer database</a><br><br>
<a href="/admin/petorders">Access pet order database</a><br><br>
<a href="/admin/serviceorders">Access service order database</a><br><br>
<a href="/admin/itemorders">Access item order database</a><br><br>
</body>
</html>