<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/admin/pets">Access pet database</a><br>
<a href="/admin/items">Access item database</a><br>
<a href="/admin/customers">Access customer database</a><br>
<a href="/admin/petorders">Access pet order database</a><br>
<a href="/admin/serviceorders">Access service order database</a><br>
<a href="/admin/itemorders">Access item order database</a><br>
<a href="/admin/logout">Logout</a>
</body>
</html>