<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <style>

        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            text-align: center;
            float: left;
            width: 150px;
        }

        .desColumn {
            text-align: center;
            float: left;
            width: 240px;
        }

        .actionColumn {
            text-align: center;
            float: right;
            width: 12%;
        }

        .row {
            /*border-style: solid;*/
            /*border-width: thin;*/
            /*border-color: black;*/
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .ta {
            width: 149px;
            height: 40px
        }

        .taDes {
            width: 239px;
            height: 40px;
        }
    </style>
</head>
<body>
<a href="/admin">Return to Home</a>
<div class="row">
    <div class="column">
        ID
    </div>
    <div class="column">
        Name
    </div>
    <div class="column">
        Price
    </div>
    <div class="column">
        Size
    </div>
    <div class="column">
        Quantity
    </div>
    <div class="column">
        Discount
    </div>
    <div class="desColumn">
        Description
    </div>
</div>
<form id="searchForm">
    <div class="row">
        <div class="column">
            <input class="ta" type="text" id="searchId" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchName" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchPrice" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchSize" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchQuantity" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchDiscount" value="">
        </div>
        <div class="desColumn">
            <input class="taDes" type="text" id="searchDescription" value="">
        </div>
        <div class="actionColumn">
            <button id="searchAllButton" type="button" value="Search" onclick="getAllItemRequest()">Search All</button>
            <button id="searchButton" type="button" value="Search" onclick="searchItem()">Search</button>
            <button class="createButton" id="createButton" type="button" value="Create" onclick="createItem()">Create</button>
            <input type="reset">
        </div>
    </div>
</form>
<div>Your items:</div>
<!--dung jquery ajax how to submit form without redirect-->
<!--https://stackoverflow.com/questions/25983603/how-to-submit-an-html-form-without-redirection-->
<div class="row" id="items">

</div>
<script>

    function getXMLHttpRequest() {
        var req, err;
        try {
            req = new XMLHttpRequest();
        } catch (err) {
            try {
                req = new ActiveXObject("MSXML2.XMLHttp.6.0");
            } catch (err) {
                try {
                    req = new ActiveXObject("MSXML2.XMLHttp.3.0");
                } catch (err) {
                    req = false;
                }
            }
        }
        return req;
    }

    var ajaxRequest = getXMLHttpRequest();

    function getAllItemRequest() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getItemResponse;
            ajaxRequest.open("GET", "/items/all");
            ajaxRequest.send(null);
        }
    }

    function searchItem() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getItemResponse;
            ajaxRequest.open("POST", "/items/get", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            let id = document.getElementById("searchId").value;
            let name = document.getElementById("searchName").value;
            let price = document.getElementById("searchPrice").value;
            let size = document.getElementById("searchSize").value;
            let quantity = document.getElementById("searchQuantity").value;
            let discount = document.getElementById("searchDiscount").value;
            let description = document.getElementById("searchDescription").value;
            datas += '&id=' + id + '&name=' + name + '&price=' + price + '&size=' + size + '&quantity=' + quantity +
                '&discount=' + discount +
                '&description=' + description;
            ajaxRequest.send(datas);
        }
    }

    function createItem() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getItemCreateResponse;
            ajaxRequest.open("POST", "/admin/items/create", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            let datas = "";
            let id = document.getElementById("searchId").value;
            let name = document.getElementById("searchName").value;
            let price = document.getElementById("searchPrice").value;
            let size = document.getElementById("searchSize").value;
            let quantity = document.getElementById("searchQuantity").value;
            let discount = document.getElementById("searchDiscount").value;
            let description = document.getElementById("searchDescription").value;
            datas += 'id=' + id + '&name=' + name + '&price=' + price + '&size=' + size + '&quantity=' + quantity +
                '&discount=' + discount +
                '&description=' + description;
            ajaxRequest.send(datas);
            // ajaxRequest.send('&id=' + id);
        }
    }

    function updateItem(item) {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getItemUpdateResponse;
            ajaxRequest.open("POST", "/admin/items/update", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            datas += '&id=' + item.id + '&name=' + item.name + '&price=' + item.price + '&size=' + item.size + '&quantity=' + item.quantity +
                '&discount=' + item.discount +
                '&description=' + item.description;
            ajaxRequest.send(datas);
        }
    }

    function deleteItem(item) {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getItemDeleteResponse;
            ajaxRequest.open("POST", "/admin/items/delete", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            datas += '&id=' + item.id;
            ajaxRequest.send(datas);
        }
    }

    function updateButtonPress(button) {
        var id = button.id.replace("updateButton", "");
        var buttonName = button.class;
        var buttonId = button.id;
        // console.log("onClick: button name: ", buttonName, "||id: ", id, "||button id: ", buttonId);
        if (document.getElementById(buttonId).innerHTML === "Update") {
            document.getElementById(id).getElementsByClassName("ta")[1].removeAttribute("readonly");
            document.getElementById(id).getElementsByClassName("ta")[2].removeAttribute("readonly");
            document.getElementById(id).getElementsByClassName("ta")[4].removeAttribute("readonly");
            document.getElementById(id).getElementsByClassName("ta")[5].removeAttribute("readonly");
            document.getElementById(id).getElementsByClassName("taDes")[0].removeAttribute("readonly");
            document.getElementById(buttonId).innerHTML = "Confirm";
        } else {
            var item = {};
            // console.log(document.getElementById(id).getElementsByClassName("ta")[9].value);
            item.id = document.getElementById(id).getElementsByClassName("ta")[0].value;
            item.name = document.getElementById(id).getElementsByClassName("ta")[1].value;
            item.price = document.getElementById(id).getElementsByClassName("ta")[2].value;
            item.size = document.getElementById(id).getElementsByClassName("ta")[3].value;
            item.quantity = document.getElementById(id).getElementsByClassName("ta")[4].value;
            item.discount = document.getElementById(id).getElementsByClassName("ta")[5].value;
            item.description = document.getElementById(id).getElementsByClassName("taDes")[0].value;
            document.getElementById(id).getElementsByClassName("ta")[1].readOnly = true;
            document.getElementById(id).getElementsByClassName("ta")[2].readOnly = true;
            document.getElementById(id).getElementsByClassName("ta")[4].readOnly = true;
            document.getElementById(id).getElementsByClassName("ta")[5].readOnly = true;
            document.getElementById(id).getElementsByClassName("taDes")[0].readOnly = true;
            document.getElementById(buttonId).innerHTML = "Update";
            updateItem(item);
        }
    }

    function deleteButtonPress(button) {
        var id = button.id.replace("deleteButton", "");
        var buttonName = button.class;
        var buttonId = button.id;
        // console.log("onClick: button name: ", buttonName, "||id: ", id, "||button id: ", buttonId);
        var item = {};
        item.id = document.getElementById(id).getElementsByClassName("ta")[0].value;
        deleteItem(item);
    }

    function getItemResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                var jsonRes = JSON.parse(ajaxRequest.responseText);
                var tmpHtml = "";
                for (var i = 0; i < jsonRes.length; i++) {
                    tmpHtml += '<div class="row" id="' + i + '">';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexId' + i + '" readonly="readonly">' + jsonRes[i].id + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexName' + i + '" readonly="readonly">' + jsonRes[i].name + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexPrice' + i + '" readonly="readonly">' + jsonRes[i].price + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexSize' + i + '" readonly="readonly">' + jsonRes[i].size + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexQuantity' + i + '" readonly="readonly">' + jsonRes[i].quantity + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexDiscount' + i + '" readonly="readonly">' + jsonRes[i].discount + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="taDes" id="indexDescription' + i + '" readonly="readonly">' + jsonRes[i].description + '</textarea></div>';
                    tmpHtml += '<div class="actionColumn" >\n' +
                        '        <button type="button" class="updateButton" id="updateButton' + i + '" value="Update" onclick="updateButtonPress(this)">Update</button>' +
                        '        <button type="button" class="deleteButton" id="deleteButton' + i + '" value="Delete" onclick="deleteButtonPress(this)">Delete</button>' +
                        '    </div>';
                    tmpHtml += '</div>';
                }
                // console.log(tmpHtml);
                document.getElementById("items").innerHTML = tmpHtml;
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }

    function getItemCreateResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Create success");
                searchItem();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }
    function getItemDeleteResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Delete success");
                searchItem();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }

    function getItemUpdateResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Update success");
                searchItem();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
    }

    getAllItemRequest();
</script>
</body>
</html>