<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Order Management</title>
    <link rel="stylesheet" href="/css/productorder.css">
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <style>

        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            text-align: center;
            float: left;
            width: 100px;
        }

        .desColumn {
            text-align: center;
            float: left;
            width: 120px;
        }

        .actionColumn {
            text-align: center;
            float: right;
            width: 20%;
        }

        .actionColumn input {
            margin-top: 10px;
        }

        .actionColumn button {
            margin-top: 10px;
        }

        .row {
            /*border-style: solid;*/
            /*border-width: thin;*/
            /*border-color: black;*/
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .ta {
            width: 99px;
            height: 40px
        }

        .taDes {
            width: 119px;
            height: 40px;
        }
    </style>
</head>
<body>
<!-- <a href="/admin">Return to Home</a> -->
<a href="/admin"><img src="/img/home-button.png" alt="Home" id="home" style="width: 40px; margin-left: 10px;"></a>
<div class="row">
    <div class="column">
        ID
    </div>
    <div class="column">
        Service
    </div>
    <div class="column">
        Name
    </div>
    <div class="column" style="width: 200px">
        Email
    </div>
    <div class="column">
        Phoneno
    </div>
    <div class="column">
        Requirement
    </div>
    <div class="column">
        Date created
    </div>
    <div class="column">
        Date purchased
    </div>
    <div class="column">
        Purchase
    </div>
</div>
<form id="searchForm">
    <div class="row">
        <div class="column">
            <input class="ta" type="text" id="searchId" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchService" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchName" value="">
        </div>
        <div class="column" style="width: 200px">
            <input class="ta" type="text" id="searchEmail" value="" style="width: 199px">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchPhoneno" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchRequirement" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchTimestamp" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchPurchaseTimestamp" value="">
        </div>
        <div class="column">
            <input class="ta" type="text" id="searchPurchase" value="">
        </div>
        <div class="actionColumn">
            <button id="searchAllButton" type="button" value="Search" onclick="getAllServiceorderRequest()">Search All</button>
            <button id="searchButton" type="button" value="Search" onclick="searchServiceorder()">Search</button>
            <button class="createButton" id="createButton" type="button" value="Create" onclick="createServiceorder()">Create</button>
            <input type="reset">
        </div>
    </div>
</form>
<div>Your service orders:</div>
<!--dung jquery ajax how to submit form without redirect-->
<!--https://stackoverflow.com/questions/25983603/how-to-submit-an-html-form-without-redirection-->
<div class="row" id="serviceorders">

</div>
<script>

    function getXMLHttpRequest() {
        var req, err;
        try {
            req = new XMLHttpRequest();
        } catch (err) {
            try {
                req = new ActiveXObject("MSXML2.XMLHttp.6.0");
            } catch (err) {
                try {
                    req = new ActiveXObject("MSXML2.XMLHttp.3.0");
                } catch (err) {
                    req = false;
                }
            }
        }
        return req;
    }

    var ajaxRequest = getXMLHttpRequest();

    function getAllServiceorderRequest() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getServiceorderResponse;
            ajaxRequest.open("GET", "http://localhost:3000/admin/serviceorders/all");
            ajaxRequest.send(null);
        }
    }

    function searchServiceorder() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getServiceorderResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/serviceorders/get", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            let id = document.getElementById("searchId").value;
            let service = document.getElementById("searchService").value;
            let name = document.getElementById("searchName").value;
            let email = document.getElementById("searchEmail").value;
            let phoneno = document.getElementById("searchPhoneno").value;
            let requirement = document.getElementById("searchRequirement").value;
            let timestamp = document.getElementById("searchTimestamp").value;
            let purchaseTimestamp = document.getElementById("searchPurchaseTimestamp").value;
            let purchase = document.getElementById("searchPurchase").value;
            datas += '&id=' + id + '&service=' + service + '&name=' + name + '&email=' + email + '&phoneno=' + phoneno + '&requirement=' + requirement
                + '&timestamp=' + timestamp + '&purchaseTimestamp=' + purchaseTimestamp + '&purchase=' + purchase;
            ajaxRequest.send(datas);
        }
    }

    function createServiceorder() {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getServiceorderCreateResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/serviceorders/create", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            let datas = "";
            let id = document.getElementById("searchId").value;
            let service = document.getElementById("searchService").value;
            let name = document.getElementById("searchName").value;
            let email = document.getElementById("searchEmail").value;
            let phoneno = document.getElementById("searchPhoneno").value;
            let requirement = document.getElementById("searchRequirement").value;
            let timestamp = document.getElementById("searchTimestamp").value;
            let purchaseTimestamp = document.getElementById("searchPurchaseTimestamp").value;
            let purchase = document.getElementById("searchPurchase").value;
            datas += 'id=' + id + '&service=' + service + '&name=' + name + '&email=' + email + '&phoneno=' + phoneno + '&requirement=' + requirement
                + '&timestamp=' + timestamp + '&purchaseTimestamp=' + purchaseTimestamp + '&purchase=' + purchase;
            ajaxRequest.send(datas);
            // ajaxRequest.send('&id=' + id);
        }
    }

    function updateServiceorder(serviceorder) {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getServiceorderUpdateResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/serviceorders/confirm", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            datas += '&id=' + serviceorder.id + '&service=' + serviceorder.service + '&name=' + serviceorder.name + '&email='
                + serviceorder.email + '&phoneno=' + serviceorder.phoneno + '&requirement=' + serviceorder.requirement + '&timestamp=' + serviceorder.timestamp + '&purchaseTimestamp='
                + serviceorder.purchaseTimestamp + '&purchase=' + serviceorder.purchase;
            ajaxRequest.send(datas);
        }
    }

    function deleteServiceorder(serviceorder) {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getServiceorderDeleteResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/serviceorders/delete", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            datas += '&id=' + serviceorder.id;
            ajaxRequest.send(datas);
        }
    }

    function purchaseServiceorder(serviceorder) {
        if (ajaxRequest) {
            ajaxRequest.onreadystatechange = getServiceorderPurchaseResponse;
            ajaxRequest.open("POST", "http://localhost:3000/admin/serviceorders/purchase", true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // ajaxRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            let datas = "";
            datas += '&id=' + serviceorder.id + '&service=' +serviceorder.service + '&name=' +serviceorder.name + '&phoneno=' +serviceorder.phoneno + '&email=' +serviceorder.email;
            ajaxRequest.send(datas);
        }
    }

    function updateButtonPress(button) {
        console.log("asdasd");
        var id = button.id.replace("updateButton", "");
        var buttonService = button.class;
        var buttonId = button.id;
        // console.log("onClick: button service: ", buttonService, "||id: ", id, "||button id: ", buttonId);
        // if (document.getElementById(buttonId).innerHTML === "Confirm") {
        //     document.getElementById(id).getElementsByClassName("ta")[1].removeAttribute("readonly");
        //     document.getElementById(id).getElementsByClassName("ta")[2].removeAttribute("readonly");
        //     document.getElementById(id).getElementsByClassName("ta")[3].removeAttribute("readonly");
        //     document.getElementById(id).getElementsByClassName("ta")[4].removeAttribute("readonly");
        //     document.getElementById(id).getElementsByClassName("ta")[5].removeAttribute("readonly");
        //     document.getElementById(id).getElementsByClassName("ta")[6].removeAttribute("readonly");
        //     document.getElementById(id).getElementsByClassName("ta")[7].removeAttribute("readonly");
        //     document.getElementById(buttonId).innerHTML = "Done";
        // } else {
        var serviceorder = {};
        // console.log(document.getElementById(id).getElementsByClassService("ta")[9].value);
        serviceorder.id = document.getElementById(id).getElementsByClassName("ta")[0].value;
        serviceorder.service = document.getElementById(id).getElementsByClassName("ta")[1].value;
        // serviceorder.name = document.getElementById(id).getElementsByClassName("ta")[2].value;
        // serviceorder.email = document.getElementById(id).getElementsByClassName("ta")[3].value;
        // serviceorder.phoneno = document.getElementById(id).getElementsByClassName("ta")[4].value;
        // serviceorder.timestamp = document.getElementById(id).getElementsByClassName("ta")[5].value;
        // serviceorder.purchaseTimestamp = document.getElementById(id).getElementsByClassName("ta")[6].value;
        // // serviceorder.purchase = document.getElementById(id).getElementsByClassName("ta")[7].value;
        // document.getElementById(id).getElementsByClassName("ta")[1].readOnly = true;
        // document.getElementById(id).getElementsByClassName("ta")[2].readOnly = true;
        // document.getElementById(id).getElementsByClassName("ta")[3].readOnly = true;
        // document.getElementById(id).getElementsByClassName("ta")[4].readOnly = true;
        // document.getElementById(id).getElementsByClassName("ta")[5].readOnly = true;
        // document.getElementById(id).getElementsByClassName("ta")[6].readOnly = true;
        // // document.getElementById(id).getElementsByClassName("ta")[7].readOnly = true;
        // document.getElementById(buttonId).innerHTML = "Confirm";
        updateServiceorder(serviceorder);
        // }
    }

    function deleteButtonPress(button) {
        var id = button.id.replace("deleteButton", "");
        var buttonService = button.class;
        var buttonId = button.id;
        // console.log("onClick: button service: ", buttonService, "||id: ", id, "||button id: ", buttonId);
        var serviceorder = {};
        serviceorder.id = document.getElementById(id).getElementsByClassName("ta")[0].value;
        deleteServiceorder(serviceorder);
    }

    function purchaseButtonPress(button) {
        var id = button.id.replace("purchaseButton", "");
        var buttonService = button.class;
        var buttonId = button.id;
        // console.log("onClick: button service: ", buttonService, "||id: ", id, "||button id: ", buttonId);
        var serviceorder = {};
        serviceorder.id = document.getElementById(id).getElementsByClassName("ta")[0].value;
        serviceorder.service = document.getElementById(id).getElementsByClassName("ta")[1].value;
        serviceorder.name = document.getElementById(id).getElementsByClassName("ta")[2].value;
        serviceorder.email = document.getElementById(id).getElementsByClassName("ta")[3].value;
        serviceorder.phoneno = document.getElementById(id).getElementsByClassName("ta")[4].value;
        purchaseServiceorder(serviceorder);
    }

    function getServiceorderResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                var jsonRes = JSON.parse(ajaxRequest.responseText);
                var tmpHtml = "";
                for (var i = 0; i < jsonRes.length; i++) {
                    tmpHtml += '<div class="row" id="' + i + '">';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexId' + i + '" readonly="readonly">' + jsonRes[i].id + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexService' + i + '" readonly="readonly">' + jsonRes[i].service + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexName' + i + '" readonly="readonly">' + jsonRes[i].name + '</textarea></div>';
                    tmpHtml += '<div class="column" style="width: 200px"><textarea class="ta" id="indexEmail' + i + '" readonly="readonly" style="width: 199px">' + jsonRes[i].email + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexPhoneno' + i + '" readonly="readonly">' + jsonRes[i].phoneno + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexRequirement' + i + '" readonly="readonly">' + jsonRes[i].requirement + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexTimestamp' + i + '" readonly="readonly">' + jsonRes[i].timestamp + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="indexPurchaseTimestamp' + i + '" readonly="readonly">' + jsonRes[i].purchaseTimestamp + '</textarea></div>';
                    tmpHtml += '<div class="column"><textarea class="ta" id="purchase' + i + '" readonly="readonly">' + jsonRes[i].purchase + '</textarea></div>';
                    tmpHtml += '<div class="actionColumn" >\n' +
                        '        <button type="button" class="updateButton" id="updateButton' + i + '" value="Confirm" onclick="updateButtonPress(this)">Confirm</button>' +
                        '        <button type="button" class="deleteButton" id="deleteButton' + i + '" value="Delete" onclick="deleteButtonPress(this)">Delete</button>' +
                        '        <button type="button" class="purchaseButton" id="purchaseButton' + i + '" value="Purchase" onclick="purchaseButtonPress(this)">Purchase</button>' +
                        '</div>';
                    tmpHtml += '</div>';
                }
                // console.log(tmpHtml);
                document.getElementById("serviceorders").innerHTML = tmpHtml;
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }

    function getServiceorderCreateResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Create success");
                searchServiceorder();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }
    function getServiceorderDeleteResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Delete success");
                searchServiceorder();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }

    function getServiceorderPurchaseResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Purchase success");
                searchServiceorder();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
        // restartJQuery();
    }

    function getServiceorderUpdateResponse() {
        if (ajaxRequest.readyState != 4) return;
        else {
            if (ajaxRequest.status == 200) {
                console.log("Update success");
                searchServiceorder();
            } else {
                alert("Request failed: ", ajaxRequest.statusText);
            }
        }
    }

    getAllServiceorderRequest();
</script>
</body>
</html>